{% extends 'base.html' %}
{% block title %}
Persons
{% endblock %}
{% block body %}
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                        <tr>
                            <td>
                                <a href="{{ url_for("person", pk=person.pk) }}">
                                    {{ person.firstname }}
                                </a>
                            </td>
                            <td>
                                {{ person.lastname }}
                            </td>
                            <td>
                                {{ person.email }}
                            </td>

                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}